# Groq API Key (free from https://console.groq.com)
GROQ_API_KEY=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


# Google Gemini API Key (free from https://aistudio.google.com)  
GEMINI_API_KEY=your_gemini_key_here
